$black-100:   #F3F3F3;
$black-200:   #E8E8E8;
$black-300:   #868686;
$black-600:   #232323;
$black-900:   #101010;

$green-light:   #9EFFBF;
$purple-dark:   #7941A7;
$purple-light:  #E2BEFF;

$blue-dark:     #1059C8;

